/* Glopal Variables */
:root {
  --main-transition: 0.8s;
  --main-padding-top: 2.5rem;
  --main-padding-bottom: 2.5rem;
  --main-margin-top: 2.5rem;
  --main-margin-bottom: 2.5rem;
  --main-bg: #fafafa;
  --footer-bg: #30ee26;
  --Headers_Colors: #0ac100;
  --Primary_Buttons: #157347;
  --highlites_color: #98f793;
  --HomePageSize: 1rem;
  --DetailPageSize: 0.875rem;
  --lowBold: 300;
  --midBold: 600;
  --highBold: 800;
  --bg-dark-color: #202d36;
}
* {
  transition: 0 !important;
  -webkit-tap-highlight-color: transparent !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: var(--veryLightGray-color) !important;
  overflow-y: auto;
  overflow-x: auto;
}
.z-150 {
  z-index: 150 !important;
}
.z-200 {
  z-index: 200 !important;
}
ul {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
i {
  font-style: normal !important;
}
.w-35 {
  width: 35% !important;
}
/* Scroll */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}
canvas {
  width: 100% !important;
  height: auto !important;
}
.overflow-yAxis {
  overflow-y: auto;
  overflow-x: hidden;
}
.maxHeight-part {
  max-height: 47.875rem;
}
.maxHeight-inhert {
  max-height: inherit;
}

/* Ensure these rules have higher specificity */
.form-input,
textarea {
  border-radius: 5px;
  box-shadow: 0px 15px 5px -15px rgba(0, 0, 0, 0.3) !important;
}
.custom-form input:focus,
.custom-form textarea:focus {
  border-color: var(--Primary_Buttons) !important;
  outline: 1px solid var(--Primary_Buttons) !important;
}

/* If you have other specific input classes, add them as well */
input:focus,
textarea:focus {
  border-color: var(--Primary_Buttons) !important;
  outline: 1px solid var(--Primary_Buttons) !important; /* Remove default outline */
}

/* Shadow Section */
.all-light-shadow {
  box-shadow: 0px 15px 5px -15px rgb(0 0 0 / 15%) !important;
}
.all-Mid-shadow {
  box-shadow: 0px 15px 5px -15px rgb(0 0 0 / 35%) !important;
}
.all-Heavy-shadow {
  box-shadow: 0px 15px 5px -15px rgb(0 0 0 / 65%) !important;
}
.bottom-shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}
/* Light & Dark */
.question-theme {
  flex: 1;
  background-color: #102a43;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.sidebar-question {
  width: 200px;
  background-color: #11304c; /* A dark gray that's easy on the eyes */
  padding: 15px;
  border: 1px solid #ddd; /* A subtle border for separation */
  border-radius: 8px;
}

.sidebar-question p {
  margin-bottom: 10px;
  color: #f1f1f1; /* Light text color for readability */
}

.light-theme {
  background-color: var(--veryLightGray-color) !important;
  color: black !important;
}
.dark-theme {
  background-color: var(--bg-dark-color) !important;
  color: #fff !important;
}
.spic-dark-mode {
  background-color: #2b3743 !important;
  color: #fff !important;
}
.dark-input input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff !important;
}
.dark-input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
}
.dark-input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff !important;
}
.dark-input input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff !important;
}
/* bold Section */
.light-bold {
  font-weight: var(--lowBold);
}
.mid-bold {
  font-weight: var(--midBold);
}
.high-bold {
  font-weight: var(--highBold);
}
/* Size */
.home-size {
  font-size: var(--HomePageSize) !important;
}
.detailes-size {
  font-size: var(--DetailPageSize) !important;
}
.p-8 {
  padding: 8rem !important;
}
/**************************** Table dark mode ****************************/
/* Container styling */
.assessment-results-container-dark {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b3743 !important;
  color: #fff !important;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

/* Title styling */
.assessment-results-title-dark {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f1f1f1;
}

/* Table styling */
.assessment-results-table-dark {
  width: 100%;
  border-collapse: collapse;
}

.assessment-results-table-dark thead {
  background-color: #343a40;
  border-bottom: 2px solid #495057;
}

.assessment-results-table-dark th {
  padding: 15px;
  background-color: #343a40;
  text-align: left;
  font-weight: bold;
  color: #adb5bd;
  font-size: 0.9rem;
}

.assessment-results-table-dark td {
  padding: 15px;
  background-color: #343a40;
  font-size: 0.85rem;
  color: #f8f9fa;
  vertical-align: middle;
}

/* Title column styling */
.assessment-title-dark {
  font-weight: 500;
  color: #e9ecef;
}

/* Score column styling */
.assessment-score-dark {
  font-weight: bold;
  text-align: center;
}

/* Badge styling */
.assessment-status-badge-dark {
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 12px;
  text-transform: uppercase;
  display: inline-block;
}

/* Badge colors */
.badge-not-started-dark {
  background-color: #6c757d;
  color: #f8f9fa;
}

.badge-in-progress-dark {
  background-color: #ffc107;
  color: #212529;
}

.badge-corrected-dark {
  background-color: #28a745;
  color: #f8f9fa;
}

/* Responsive styling */
@media (max-width: 768px) {
  .assessment-results-title-dark {
    font-size: 1.5rem;
  }

  .assessment-results-table-dark td {
    font-size: 0.8rem;
    padding: 10px;
  }

  .assessment-results-table-dark th {
    font-size: 0.85rem;
  }
}

/********************** Custom variables ***********************/
.main-bg {
  background-color: var(--main-bg) !important;
}
.primary-button-color {
  color: var(--Primary_Buttons) !important;
}
.primary-button-background {
  background-color: var(--Primary_Buttons) !important;
}
.bold-hr {
  border-width: 3px !important;
}
.mid-aligment {
  top: 0;
  left: 0;
  transform: translateX(50%);
}
.gap-1 {
  gap: 1rem !important;
}
/*/////////////////////// Custom input forms //////////////////////////*/
/* Basic Structure */
.custom-form {
  border: 3px solid var(--footer-bg);
  border-radius: 30px;
  height: 40em;
  box-shadow: 0px 15px 5px -15px rgb(0 0 0 / 50%) !important;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Header */
.custom-form-header {
  color: var(--Headers_Colors);
  font-weight: bold;
}
.nav-link.active::before {
  width: calc(100% - 5%);
  background-color: var(--Primary_Buttons);
}

.delete-button,
.view-button {
  transition: var(--main-transition) !important;
}
.delete-button:hover i {
  color: red !important;
}
.view-button:hover i {
  color: var(--Primary_Buttons) !important;
}

.table {
  margin: 0 !important;
}
.table-row:hover {
  background-color: #212529;
}
.overflow-xAxis {
  overflow-x: auto !important;
}

.alert-row {
  animation: alert 1.5s ease infinite;
}
.alert-row td {
  color: var(--Headers_Colors) !important;
}

/*************************/

.active > .page-link,
.page-link.active {
  background-color: var(--Primary_Buttons);
  border-color: var(--Primary_Buttons);
}
/*** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~_~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~_~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ***/
/* Important */
@keyframes alert {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 70%;
  }
  60% {
    opacity: 50%;
  }
  80% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}

/* Typing */
@keyframes typing {
  0% {
    left: 0%;
  }
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    border-left: 5px solid var(--main-bg);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
